.FormInput{
    padding: 10px;
    height: 15px;
    width: 95%;
    margin: 5px;
    box-sizing: border-box;
}

.FormLabel{
    text-align: center;
    display: block;
    height: 15px;
    width: 90%;
    margin: 5px;
}

.BtnContainer{
    width: 95%;
    align-items: center;
    justify-content: center;
}

.FormSubmit{
    margin: auto;
    display: block;
    left: 50%;
    text-align: center;
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: #00B4CC;
    background-color: orange;
    border-radius: 10px;
}

.Required{
    color: red;
}

textarea{
    height: 100px !important;
    resize: none;
}

.Validation{
    border: 2px solid red;
}